<div class="container">
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/candidate/candidatesByState" routerLinkActive="active">Candidatos por estado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/candidate/averageImcByAgeInterval" routerLinkActive="active">Imc médio em faixas de idade</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/candidate/obesePercentageBySex" routerLinkActive="active">Percentual de obesos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/candidate/averageAgeByBloodType" routerLinkActive="active">Média de idade por tipo sanguíneo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/candidate/donatorsByBloodType" routerLinkActive="active">Possíveis doadores</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
 